.navbar-collapse {
    text-align: center;
}

.form-group>label>span {
    font-weight: bold;
}

.container_init {
    background-image: url('C:\Users\lucia\TFG_SCRUM_Mastery\frontend\public\Fill.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.container_init_in {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.summary {
    height: 78vh;
    overflow: auto;
}

.navbar-in {
    background-color: rgb(91, 26, 83);
}

.logo1 {
    width: 20%;
    height: auto;
    object-fit: contain;
}

.card-custom {
    background-color: rgb(198, 198, 198);
    height: 60vh;
    width: 25vw;
    overflow-y: auto;
}

.contact_btn {
    background-color: rgb(198, 198, 198);
}

.login-card {
    background-color: rgb(198, 198, 198);
    height: 40vh;
    width: 25vw;
    overflow-y: auto;
}


.signup-card {
    background-color: rgb(198, 198, 198);
    height: 72vh;
    width: 25vw;
    overflow-y: auto;
}

.updateprofile-card {
    border-color: rgb(198, 198, 198);
    background-color: rgb(198, 198, 198);
    height: 45vh;
    width: 25vw;
    overflow-y: auto;
}

.userprofile-card {
    border-color: rgb(198, 198, 198);
    background-color: rgb(198, 198, 198);
    height: 55vh;
    width: 45vw;
    overflow-y: auto;
}

.image-container {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: none;
    outline: none;
    border: none;

}

.miniimage-container {
    position: relative;
    display: inline-block;
}

.miniimage {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.user-popup {
    visibility: hidden;
    width: 200px;
    /* Adjust as needed */
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    /* Position the pop-up below the image */
    left: 50%;
    /* Center the pop-up horizontally */
    transform: translateX(-70%);
    /* Adjust the horizontal position */
    opacity: 0;
    transition: opacity 0.3s;
}

.miniimage-container:hover .user-popup {
    visibility: visible;
    opacity: 1;
}





.image-container:focus {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: none;
    outline: none;
    border: none;

}

.image-container img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: none;
    outline: none;
    border: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: scale(0.5);
    box-shadow: none;
    outline: none;
    border: none;
}

.image-container:hover .overlay {
    opacity: 1;
    box-shadow: none;
    outline: none;
    border: none;
}


.input-user {
    background-color: rgb(235, 236, 226);
}

.input-user:focus {
    background-color: rgb(235, 236, 226);
    box-shadow: 0 0 0 2px darkgray;

}

.card-custom:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.card-custom-dad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-color {
    background-color: blueviolet;
    border-color: blueviolet;
}

.btn-color:hover,
.btn-color:focus,
.btn-color:active,
.btn-color.active,
.open>.dropdown-toggle.btn-color {
    background-color: rgb(166, 99, 181);
    border-color: rgb(166, 99, 181);
}

.text-purple {
    color: blueviolet;
}

@keyframes oscillate {
    from {
        transform: translateY(2px);
    }

    to {
        transform: translateY(-2px);
    }
}

.flag {
    display: flex;
    height: 17px;
    width: 38px;
    aspect-ratio: 3 / 2;
}

.column {
    flex: 1;
    background: linear-gradient(to bottom,
            hsl(0, 98%, 51%) 0%,
            hsl(30, 100%, 50%) 20%,
            hsl(54, 100%, 50%) 40%,
            hsl(102, 100%, 50%) 60%,
            hsl(213, 100%, 50%) 70%,
            hsl(293, 100%, 50%) 80%,
            hsl(321, 100%, 50%) 100%);

    animation: oscillate 500ms infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}